.root {
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.stock__header {
    display: flex;
    justify-content: space-between;
}

.stocks__list {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.stock__copy {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 6px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.stock__body {
    max-width: 250px;
}

.stock__btn_group {
    display: flex;
    gap: 14px;
}