.dish_default {
    position: relative;

    padding: 12px;
    width: 100%;
    max-width: 250px;

    background: var(--background-grey-pour);
    background: var(--background-pink-radial);
    border-radius: var(--my-border-radius);

    outline: 4px solid var(--bs-danger-border-subtle);

    text-align: center;
}

.dish_custom {
    outline: none;
    gap: 4px;
    max-width: none;

    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;

    & h4 {
        width: 100%;
    }
}

.dish__info {
    height: 100%;

    font-family: var(--font-dokdo);
    font-size: 1.6rem;
    line-height: 0.9;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    text-wrap: nowrap;
}

.dish__info_modify {
    flex-direction: row;
}

.dish__header {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.dish__size_container {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
    gap: 8px;
}

.dish__cart_collumn {
    text-wrap: wrap;
    width: 90px;
}

.dish__size_btn {
    padding-left: 14px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.dish__size {
    position: relative;

    padding: 4px;

    display: flex;
    align-items: center;

    border: 1px solid var(--bs-gray);
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-gray-300);
}

.dish__size_count {
    padding: 0 5px;
    border-radius: 50%;
    background-color: var(--bs-red);
}

.dish__size_activ {
    text-decoration-line: underline;
    font-weight: bold;

    background-color: var(--bs-gray-600);
    pointer-events: none;

    &::before {
        content: '\02764';
        position: absolute;
        left: -26px;
        top: 8px;
    }
}

.dish__stock {
    position: absolute;
    transform: rotate(25deg);
    background-color: var(--my-yellow);
    right: -16px;
    top: -4px;
    padding: 8px 14px;
    border-radius: var(--my-border-radius);
    outline: 3px solid var(--bs-gray-900);
    z-index: 30;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .dish__size:hover {
        cursor: pointer;
        background-color: var(--bs-gray-400);
    }
}
