.dish_default {
    position: relative;

    padding: 12px;
    width: 100%;
    max-width: 250px;

    /* background-color: var(--custom-grey-opacity); */
    background: var(--background-grey-pour);
    background: var(--background-pink-radial);
    border-radius: var(--my-border-radius);

    outline: 4px solid var(--bs-danger-border-subtle);

    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.dish_custom {
    flex-direction: row;
    outline: none;
    gap: 0;
    max-width: none;
}

.dish__header {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dish__size_container {
    display: grid;
    /* grid-template-columns: 50% 30%; */
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    justify-items: center;
    gap: 8px;
}

.dish__cart_collumn {
    text-wrap: wrap;
    width: 90px;
}

.dish__info_default {
    font-family: var(--font-dokdo);
    font-size: 1.6rem;
    line-height: 0.9;
    /* width: 100%; */
    /* min-height: 68px; */

    padding-left: 14px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    text-wrap: nowrap;
}

/* не нужный стиль */
.dish__info_custom {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 6px;

    text-wrap: nowrap;
}

/* .dish__info_wrapper {
    display: flex;
    flex-direction: column;
} */


.dish__size {
    position: relative;

    padding: 4px;

    display: flex;
    align-items: center;
    /* flex-direction: column;
    justify-content: space-between; */
    /* gap: 4px; */

    border: 1px solid var(--bs-gray);
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-gray-300);
}

.dish__size_count {
    padding: 0 5px;
    border-radius: 50%;
    background-color: var(--bs-red);
}

.dish__size_activ {
    text-decoration-line: underline;
    font-weight: bold;

    background-color: var(--bs-gray-600);
    pointer-events: none;
}

.dish__size_activ::before {
    content: '\02764';
    position: absolute;
    left: -26px;
    top: 9px;
}

.dish__stock {
    position: absolute;
    transform: rotate(25deg);
    background-color: var(--my-yellow);
    right: -16px;
    top: -4px;
    padding: 8px 14px;
    border-radius: var(--my-border-radius);
    outline: 3px solid var(--bs-gray-900);
    z-index: 30;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .dish__size:hover {
        cursor: pointer;
        background-color: var(--bs-gray-400);
    }
}

@media (max-width: 992px) {
    .dish__info-wrapper {
        font-size: small;
    }
}

@media (max-width: 576px) {
    .default {
        margin: auto 46px;
    }

    .dish__info-wrapper {
        font-size: medium;
    }

    .dish__desc {
        font-size: medium;
    }

    .dish__wrapper {
        justify-content: space-around;
    }

    .dish__info_default {
        justify-content: space-around;
    }
}