.home {
    margin-top: 54px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.home__section {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

    text-align: end;
}

.discription {
    /* flex-direction: row-reverse; */
    text-align: center;
}

.discription__btn_group {
    padding-top: 14px;
    display: flex;
    justify-content: center;
    /* flex-direction: row-reverse; */
    /* justify-content: end; */
    gap: 10px;
}

.home__contact_mobyle {
    display: none;
}

.home__text_container {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.home__text {
    max-width: 600px;
    height: 100%;

    padding: 16px;

    color: var(--bs-black);

    border-radius: var(--my-border-radius);
    background: var(--background-pink-pour);
    background: var(--background-pink-radial);
    /* background-color: var(--custom-pink-opacity); */

    outline: 4px solid var(--bs-danger-border-subtle);
    outline-offset: 2px;
}

/* не нужное свойство */
.home__map {
    position: 'relative';
    overflow: 'hidden';

    padding: 10px;

    background-color: var(--background-pink-radial);
    border-radius: var(--my-border-radius);
}

.home__img {
    width: 400px;

    & img {
        width: 100%;
        height: auto;
    }
}

.home__stocks_grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.home__stocks {
    padding: 16px;
    max-width: 1116px;

    color: var(--bs-black);

    border-radius: var(--my-border-radius);
    background: var(--background-pink-pour);
    background: var(--background-pink-radial);

    outline: 4px solid var(--bs-danger-border-subtle);
    outline-offset: 2px;
}

.home__stock {
    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & img {
        width: 100%;
        height: auto;
        border-radius: var(--my-border-radius);
    }
}

.home__img_route {
    max-width: 1000px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 6px;

    height: 60vh;

    padding: 16px;

    text-align: center;

    background: var(--background-pink-radial);
    border-radius: var(--my-border-radius);

    outline: 4px solid var(--bs-danger-border-subtle);
    outline-offset: 2px;
}

// .home__img_route>img {
//     clip-path: polygon(0% 12%, 100% 12%, 100% 88%, 0% 88%);
// }

@media(max-width: 1200px) {}

@media (max-width: 992px) {
    .home__stocks {
        max-width: 516px;
    }

    .home__text {
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .home {
        & button {
            font-size: 0.9rem;
        }
    }

    .home__img {
        width: 350px;
    }

    .home__text {
        max-width: 300px;
        /* font-size: 1.4rem; */
    }

    .discription__btn-group {
        flex-direction: column;
        align-items: center;
    }

    .home__contact_mobyle {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .home__contact_pc {
        display: none;
    }
    
}

@media (max-width: 576px) {
    .home__stocks_grid {
        flex-direction: column;
    }

    .home__stocks {
        max-width: 450px;
    }

    .home__img_route {
        max-width: 450px;
    }

    .home__text_container {
        align-items: center;
        gap: 32px;
    }

    .home__img {
        /* width: 200px; */
        display: none;
    }

    .home__text {
        max-width: none;
        max-width: 450px;
        width: 100%;
    }
}