.form__modify {
    position: sticky;
    top: 126px;

    max-width: 460px;

    padding: 10px;

    background: var(--background-grey-pour);
    background: var(--background-pink-radial);
    border-radius: var(--my-border-radius);

    outline: 4px solid var(--bs-danger-border-subtle);
}

.formOrder__imput_mod {
    flex-grow: 4 !important;
}

@media (max-width: 992px) {
    .form__modify {
        position: static;
        grid-row-start: 2;
    }
}