.modal__font {
    font-family: var(--font-comfortaa);
    font-size: 0.8rem;

    h3 {
        font-size: 2.8rem;
        font-family: var(--font-dokdo);
    }
    
    h4 {
        font-size: 2.4rem;
        font-family: var(--font-dokdo);
        text-decoration-line: underline;
        line-height: 1.5rem;
        padding-bottom: 8px;
    }
}

.header__modify {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header__btnGrp {
    width: 100%;
    text-align: end;

    button {
        font-size: 0.9rem;
        margin: 0 4px;
    }
}

.inactiv {
    display: none;
}

.activ {
    display: block;
}

.modal__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    align-content: center;
    justify-items: center;
}

@media (max-width: 576px) {
    .modal__font {    
        h3 {
            font-size: 2.4rem;
            font-family: var(--font-dokdo);
        }
        
        h4 {
            font-size: 2rem;
            font-family: var(--font-dokdo);
            text-decoration-line: underline;
        }
    }
}
