.dish__btn_group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.table__img {
    max-width: 200px;
    word-wrap: break-word;
}

.stock::after {
    content: '\2605';
}