.font__styles {
  font-family: var(--font-comfortaa);
  font-size: 0.8rem;
  // font-family: var(--font-pacifico);
  // font-family: var(--font-lobster);
  // font-family: var(--font-dokdo);
  // font-size: 1.6rem;
  // line-height: 0.9;

  // h1 {
  //   font-size: 4.8rem;
  //   font-family: var(--font-dokdo);
  // }

  h2 {
    font-size: 3.2rem;
    font-family: var(--font-dokdo);
  }

  h3 {
    font-size: 2.8rem;
    font-family: var(--font-dokdo);
  }

  h4 {
    font-size: 2.6rem;
    font-family: var(--font-dokdo);
    text-decoration-line: underline;
  }

  h5 {
    font-size: 2rem;
    font-family: var(--font-dokdo);
  }

  // input,
  // button,
  // textarea,
  // select {
  //   font-size: 1.4rem !important;
  //   line-height: 1 !important;
  // }
}

@media (max-width: 576px) {
  .font__styles {
    h3 {
      font-size: 2.4rem;
    }
  }
}