.navigation {
    font-family: var(--font-dokdo);
    font-size: 1.6rem;
    line-height: 0.9;
    /* font-size: 2rem; */

    margin-bottom: 20px;

    display: flex;
    justify-content: center;

    position: sticky !important;
    top: 0;
    z-index: 50;
}

.navigation__brand {
    font-size: 2.4rem;
}

.navigation__container {
    margin: 0 24px;

    display: flex;
    align-items: center;

    overflow-y: auto;
}

@media(max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .navigation {
        font-size: 1.6rem;
    }

    .navigation__brand {
        font-size: 2rem;
    }

}

@media (max-width: 576px) {
    .navigation {
        font-size: 1.4rem;
    }

    .navigation__brand {
        font-size: 1.8rem;
    }
}