.navigation {
    font-family: var(--font-dokdo);
    font-size: 2.2rem;
    line-height: 0.9;
    text-align: center;

    height: 86px;

    margin-bottom: 40px;

    display: flex;
    justify-content: center;

    z-index: 50;
}

.navigation__container {
    margin: 0 24px;

    display: flex;
    align-items: center;
}

.navigation__dropdown {
    font-size: 2rem;
}

.navigation__modify {
    a {
        &::after {
            font-size: 1.6rem;
            vertical-align: 0.1em;
        }
    }
}

@media (max-width: 850px) {
    .navigation {
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    .navigation {
        font-size: 1.6rem;
    }

    .navigation__brand {
        font-size: 2rem;
    }
}

@media (max-width: 650px) {
    .navigation__modify {
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: 320px;
    }
}

@media (max-width: 576px) {
    .navigation__modify {
        max-width: 260px;
    }
}

@media (max-width: 500px) {
    .navigation__modify {
        max-width: 220px;
    }
    .navigation__brand {
        margin: 0 auto;
    }
    .nav__1{
        order: 5;
    }
    .nav__2{
        order: 6;
    }
}