.root {
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.btn_group {
    display: flex;
    gap: 8px;
}

.rulse {
    display: flex;
    flex-direction: column;
    gap: 16px;


    text-indent: 30px;
}