.root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  
    font-family: var(--font-comfortaa);
    font-size: 0.9rem;
  
    h3 {
      font-size: 3.4rem;
      font-family: var(--font-dokdo);
      text-wrap: wrap;
    }
  
    h4 {
      font-size: 2.6rem;
      font-family: var(--font-dokdo);
      text-decoration-line: underline;
      line-height: 1.5rem;
      padding-bottom: 8px;
    }
  
    h5 {
      font-size: 2rem;
      font-family: var(--font-dokdo);
    }
  
  }

  .main {
    flex: 1 1 auto;
  }
  
  @media (max-width: 576px) {
    .font__styles {
      h3 {
        font-size: 2.4rem;
      }
      
      h4 {
        font-size: 2rem;
      }
    }
  }